#captain-pane {
  float: left;
}

#captain-map {
  border: 2px solid black;
  background: url(images/alpha-map.png);
  height: 100%;
  background-size: 100%;
}

.checkbox {
  height: 35px;
  width: 35px;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
}
.island {
}
.sea {
  cursor: pointer;
  background-color: #eee;
  opacity: .2;
}
.sea:hover {
  background-color: #ccc;
  opacity: .2;
}

.x {
  height: 35px;
  width: 35px;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  background: url(images/x.png);
  background-size: 100%;
}

.dot {
  height: 35px;
  width: 35px;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  background: url(images/dot.png);
  background-size: 100%;
}
#surface-button {
  height: 20px;
  width: 100px;
  text-align: center;
  padding: 20px;
  background-color: lightblue;
  border: 3px solid black;
}